# Copy this file to .env and fill in the values you are given on exam day.

OPENAI_API_KEY=your-exam-api-key-here-type-from-question-paper-or-run-the-command-below.
OPENAI_BASE_URL=https://api.openai.com/v1
MODEL=gpt-5.4-nano

# Run this in your cli to get the key
# curl https://drive.bdren.net.bd/index.php/s/jcRcmGcpnjYkJ8P/download/copypaste%20to%20env.txt


